.content {
  width: 850px;
  margin: 0 auto;
  background-color: #FFF;
  margin-top: 230px;
  padding: 20px 50px 50px;
  font-size: 1rem;
  position: relative;

  p {
    line-height: 22px;
  }

  .single-post-date {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .single-post-title {
    margin-bottom: 0;
    font-size: 2rem;
  }
}

@media (max-width: 850px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .content {
    padding: {
      left: 20px;
      right: 20px;
    }
  }
}
