header {
  background-color: #222;
  height: 280px;
  width: 100%;
  position: absolute;
  top: 0;
}

.app-head {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  padding-top: 52px;
}

.app-header {
  font-size: 3rem;
  text-decoration: none;
  color: #FFF;
  display: inline;
  letter-spacing: -1px;
  border: none;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: #FFF;
  }
}

.app-description {
  font-size: 0.75rem;
  display: block;
  margin-bottom: 12px;
  margin-top: 2px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.app-header-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 18px 4px 0;
  border: none;
  position: relative;
  top: 0;
  -ms-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;

  .icon-path {
    fill: #FFFFFF;
    -ms-transition: fill 0.2s;
    -moz-transition: fill 0.2s;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
  }

  &:hover {
    top: -5px;

    .github-icon-path {
      fill: #55ACEE;
    }

    .twitter-icon-path {
      fill: #55ACEE;
    }
  }
}

@media (max-width: 650px) {
  .app-header {
    font-size: 2.6rem;
  }

  .app-description {
    margin-bottom: 15px;
  }
}
