body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

$link-color: #000;
$link-hover-color: #0175CF;

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;

  &:hover {
    color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

p {
  margin: 16px 0;
}

h1 {
  margin: 21px 0 16px;
}
